<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993274452383-9ts2nvurtd24icv6eu58ieudju4l49po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993274452383-9ts2nvurtd24icv6eu58ieudju4l49po</string>
	<key>API_KEY</key>
	<string>AIzaSyAV4HDUuUBFjqfc4hJKitOjl0pnFdYd2CM</string>
	<key>GCM_SENDER_ID</key>
	<string>993274452383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.econnect.teaching</string>
	<key>PROJECT_ID</key>
	<string>e-connect-ba625</string>
	<key>STORAGE_BUCKET</key>
	<string>e-connect-ba625.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993274452383:ios:89b4ab25814581048e85aa</string>
</dict>
</plist>